In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./elasticity_challenge_2.csv")
df.describe()

              price        demand
count  13476.000000  13476.000000
mean      45.839266     14.461796
std       25.968510     26.076507
min        5.000000      0.005088
25%       24.377500      0.678256
50%       41.255000      1.314902
75%       66.262500     21.394023
max       99.990000    278.943897

In [5]:
df.head()

     product  price    demand
0  product_1  10.00  4.011260
1  product_1  10.01  1.827389
2  product_1  10.02  3.835668
3  product_1  10.03  3.454049
4  product_1  10.04  2.843604

In [31]:
product1_df = df[df['product'] == 'product_1']
product2_df = df[df['product'] == 'product_2']

In [32]:
product1_df.describe()

             price       demand
count  8985.000000  8985.000000
mean     55.004615     1.087276
std      25.981627     0.819267
min      10.000000     0.005088
25%      32.500000     0.560341
50%      55.020000     0.816146
75%      77.500000     1.317934
max      99.990000     6.452743

In [33]:
product2_df.describe()

             price       demand
count  4491.000000  4491.000000
mean     27.502445    41.219770
std      12.989824    31.068689
min       5.000000     0.062762
25%      16.275000    21.404371
50%      27.510000    31.072913
75%      38.745000    50.217225
max      49.990000   278.943897

In [18]:
!pip install econml

Requirement already satisfied: econml in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (0.15.0)
Requirement already satisfied: scipy>1.4.0 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (1.12.0)
Requirement already satisfied: statsmodels>=0.10 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (0.14.1)
Requirement already satisfied: lightgbm in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (4.3.0)
Requirement already satisfied: pandas>1.0 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (2.0.3)
Requirement already satisfied: numpy in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (1.26.4)
Requirement already satisfied: scikit-learn<1.5,>=1.0 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (1.4.1.post1)
Requirement already satisfied: sparse in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (0.15.1)
Requirement already satisfied: joblib>=0.13.0 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (1.3.2)
Requirement already satisfied: shap<0.44.0,>=0.38.1 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from econml) (0.43.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas>1.0->econml) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas>1.0->econml) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas>1.0->econml) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from scikit-learn<1.5,>=1.0->econml) (3.3.0)
Requirement already satisfied: slicer==0.0.7 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from shap<0.44.0,>=0.38.1->econml) (0.0.7)
Requirement already satisfied: cloudpickle in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from shap<0.44.0,>=0.38.1->econml) (3.0.0)
Requirement already satisfied: numba in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from shap<0.44.0,>=0.38.1->econml) (0.59.0)
Requirement already satisfied: packaging>20.9 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from shap<0.44.0,>=0.38.1->econml) (23.2)
Requirement already satisfied: tqdm>=4.27.0 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from shap<0.44.0,>=0.38.1->econml) (4.66.2)
Requirement already satisfied: patsy>=0.5.4 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from statsmodels>=0.10->econml) (0.5.6)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from numba->shap<0.44.0,>=0.38.1->econml) (0.42.0)
Requirement already satisfied: six in /Users/tanisha.belkar/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from patsy>=0.5.4->statsmodels>=0.10->econml) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/Users/tanisha.belkar/.pyenv/versions/3.10.4/bin/python3.10 -m pip install --upgrade pip' command.

In [28]:
from econml.dml import LinearDML

def calc_elasticity(df):
    if 'log_price' not in df:
        df.insert(2, 'log_price', np.log(df['price']))
    if 'log_demand' not in df:
        df.insert(3, 'log_demand', np.log(df['demand']))
    est = LinearDML()
    est.fit(
        df['log_demand'],
        T=df['log_price']
    )
    elasticity = est.const_marginal_effect()
    return elasticity[0]

In [30]:
e1 = calc_elasticity(product1_df)
e2 = calc_elasticity(product2_df)

print("product 1 elasticity = {} product 2 elasticity = {}".format(e1, e2))

product 1 elasticity = -0.9024792358849132 product 2 elasticity = -0.9108114009209435